/*@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";*/
@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://kit.fontawesome.com/a076d05399.js");

body {
  padding-top: 5vh;
  /* background-color: rgba(85, 85, 85, 0.219);*/
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#player {
  background-color: #ffffffc9;
  width: 95%;
  height: 95%;
  padding: 2vh;


}

.filter {
  width: 100%;
  height: 10vw;
  display: flex;
  padding: 1vw;
  align-items: center;
  border-bottom: 1vw;
}

.list-card {
  box-shadow: none;
  margin: 0;
}

h4 {
  color: #0c2461;
  font-size: 10vw;
  font-weight: bold;
  margin: 0;
  display: flex;
  align-items: center; /* alinha os itens do eixo Y*/
  justify-content: center; /* alinha  todos no eixo X*/
  padding: 3vw; /*espacamento a baixo*/
}

.card {
  padding: 2vw; /*espacamento em torno */
  box-shadow: 8px 8px 5px 0px rgb(168, 164, 164); /* eixoX eixoY borrão(blur)  espalhar(spreads) cor */
}
.responsaveis {
  margin-right: 10vw;
  margin-left: 5vh;
  margin-bottom: -1vw;
  color: #192f85;
  font-size: 3vw;
  font-family: Georgia;
  font-weight: lighter;
  display: flex;
  height: 10vw;
  justify-content: space-around;
}

.artista {
  width: 10vw;
  border-radius: 50%;
  overflow: hidden; /*essa propriedade  especifica quando o conteúdo de um elemento de nível de bloco deve ser cortado, exibido com barras de rolagem ou se transborda do elemento
 */
}

.enviadoPor {
  width: 10vw;
  border-radius: 50%;
  overflow: hidden; /*essa propriedade  especifica quando o conteúdo de um elemento de nível de bloco deve ser cortado, exibido com barras de rolagem ou se transborda do elemento
 */
}

.frase {
  color: #0c2461;
  font-size: 5vw;
  font-family: Georgia;
  font-style: italic;
  padding: 2vw;
}

.compartilhar {
  display: flex;
  height: 10vw;
  justify-content: space-around;
  align-items: center;
}
.compartilhar img{
  height: 5vw;

}
audio {
  height: 6vw;
  max-height: 8vw;
  min-height: 7vw;
  display: flex;
  width: 80%;
}

.material-icons {
  font-size: 7vw;
}
